/* Created by: Mr. Coxall
* Created on: Sep 2020
* This file contains the CSS for index.html
*/
body {
  background-color: rgb(12, 0, 2);
}

h1 {
  background-color: rgb(167, 16, 5);
  color: hsl(13, 82%, 2%);
  padding: 40px;
  text-align: center;
}

p {